.container {
  display: flex;
  justify-content: center;
}
.btn {
  border-radius: 8px;
  background-color: black;
  color: white;
  font-weight: bolder;
  padding: 8px;
  margin: 8px;
  width: 180px;
  height: 60px;
}
.input {
  border-radius: 8px;
  background-color: white;
  color: black;
  font-weight: bolder;
  padding: 8px;
  margin: 8px;
  max-width: 400px;
  width: 500px;
  height: 50px;
}
