.navbar {
  display: flex;
  background-color: #00001a;
  color: white;
  flex-direction: row;
  .menu {
    padding: 20px;
    margin: 0 auto;

    display: flex;
    .item {
      margin: 4px;
      font-weight: bolder;
      list-style: none;
      &:hover {
        color: rgb(38, 99, 233);
      }
    }
  }
}
