.container {
  display: flex;
  justify-content: center;
}
.btn {
  border-radius: 8px;
  background-color: black;
  color: white;
  font-weight: bolder;
  padding: 8px;
  margin: 8px;
  height: 60px;
  width: 600px;
}
