.container {
  // min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(148, 147, 147);
  background-color: white;
  padding: 4px;
  margin: 8px;
  border-radius: 10px;
  max-width: 600px;
  width: 800px;
}
